@font-face {
    font-family: 'Lato';
    src: url('..font/lato/Lato-Black.ttf');
  }
@font-face {
    font-family: 'Roboto_Monoo';
    src: url('..font/roboto_mono/static/RobotoMono-Regular.ttf');
}

body{
    font-family: 'Lato','Roboto_Mono';
}
a{
    text-decoration: none;
    color:$black;
    display: block;
    &:hover,&:focus{
        color: $green;
    }
}

.selfie{
width: 40px;
height: 40px;
}

.user_name_and_info{
    h2{
        margin: 0;
    }
    span{
        color: $gray;
    }
}   
.container{
    width: 920px;
}

img{
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 50%;
    display: block;
}
h1{
    font-size: $fz_0;
    color: $darkGray;
    font-weight: bold;
}
h2{
    font-size: $fz_1;
    color: $darkGray;
}
h3{
    font-size: $fz_3;
    color: $darkGray;
}
span{
    font-size: $fz_2;
    
}
h4{
    font-size: $fz_0-1;
    font-weight: bold;
}