.allPage_container{
    width: 1200px;
    margin: 0 auto;
}
.sidbar_group{
    min-width: 200px;
    min-height: 100vh;
    background: $backgroundGray;
}
.sigbar{
    a{  display: flex;
        align-items: center;
        font-weight: bolder;
        
    }
    .material-icons{
        padding-right: 16px;
    }
    li{
        display: flex;
        align-items: center;
        &:hover,&:focus{
            box-shadow: inset 4px 0 0 $green;
        }
        .material-icons{
            padding-left: 32px;
        }
        margin-bottom: 30px;
    }
}
.mainpageLogo{
     @include picture_replace_text;
    a{
        height: 40px;
    }
}
.userinfo{
    .user_name_and_info{
        padding-right: 80px;
    }
    .userPicture{
        width: 40px;
        height: 40px;
    }
}

