
.mainpage{
    width: 984px;
    margin-left: 32px;
    
}
.assignbar{
    span{
        color: $gray;
    }
}
.chapter_summary{
    width: 320px;
    .ch_and_time{
        span{
            color: $darkGray;
            font-size: $fz_3;
        }
        }
        .massage_and_name{
            h2{
                font-weight: bold;
            }
            span{
                color: $lightGray;
                font-size: $fz_3;
            }
        }
}
.chapter_detal{
    width: 584px;
    .choosepageClick_and_button{
        width: 100%;
    }
}
.massage_conent{
    margin-left: 64px;
    a{ 
        color: $darkGray;
        &:hover,&:active{
        color: $white !important;
        }
    }
}
.assignmentHeader{
    padding: 0;
}
.slide_page{
    display: none;
    width:585px ;
    .ck-editor__editable_inline{
        min-height: 50vh;
    }
    
}
.slide_page.active{
    display: block;
}
.col-5{
    .active{
        background: $backgroundGray;
    }
}

    