
.mainpage{
    width: 984px;
    margin-left: 32px;
    
}
.assignbar{
    span{
        color: $gray;
    }
}
.chapter_summary{
    width: 320px;

    .ch_and_time{
        span{
            color: $darkGray;
            font-size: $fz_3;
        }
        }
        .massage_and_name{
            h2{
                font-weight: bold;
            }
            span{
                color: $lightGray;
                font-size: $fz_3;
            }
        }
}
.chapter_detal{
    width: 584px;
    .choosepageClick_and_button{
        width: 100%;
    }
}
.massage_conent{
    margin-left: 64px;
}
.assignmentHeader{
    padding: 0;
}
.slide_page{
    display: none;
    width:585px ;
    
    top: 66%;
    left: 50.2%;
    .slidePage_header{
        background: $backgroundGray;
        h2{
            margin: 18px 8px 18px 24px;
        }
        a{
            display: flex;
            align-items: center;
        }
        span{
            margin-right: 30px;
        }
    }
    .slidePage_content{
        background: $white;
        height: 250px;
        .main_page_button{
            margin-right: 16px;
        }
        span{
            color: $gray;
            margin-left: 24px;
        }
    }
}
.slide_page.active{
    display: block;
}

    