.adminList{
    padding-left: 12px;
}
.page-item{
    .material-icons{
        font-size: $fz_3;
    }
    a{
        color: $green;
        &:hover{
            color: $white;
            background:$green ;
        }
        &:active{
            box-shadow:0 0 8px $green;
        }
        &:focus{
            box-shadow:0 0 8px $green !important;
        }
    }

}
.infopicture{
    img{
        border-radius: 0;
        width: 141px;
        height: 141px;
    }
    
}
.verified_style{
    background: $backgroundGray;
}
.table_headicon{
    font-size: $fz_3;
}