/*color*/
$green:#198754;
$red:#DC3545;
$darkGray:#212529;
$gray:#6C757D;
$lightGray:#CED4DA;
$underNameGray:#9e9e9e;
$backgroundGray:#F8F9FA;
$white:#fff;
$black:#000;

/*font-size*/
$fz_0:24px;
$fz_0-1:20px;
$fz_1:16px;
$fz_2:14px;
$fz_3:12px;

